body {
  margin: 0;
  padding: 0;
  background-color: gray;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

html {
  height: 100%;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border: 5px solid white;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
}

.starter-div {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  z-index: 1;
}

.game-over {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: space-around;
  align-items: center;
  left: 0;
  top: 0;
  z-index: 1;
}

.popUp {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
}

.popUp-p {
  font-size: 40px;
  font-weight: bolder;
  color: #fff200;
  text-align: center;
}

.button {
  padding: 10px;
  border-radius: 10px;
  width: 100px;
  background-color: #be1e2d;
  color: white;
}

.header {
  background-color: #140d43;
  color: white;
  text-align: center;
}

.header-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game-name {
  margin: 0;
  padding: 0;
  width: 150px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.theme-paragraph {
  margin: 0;
  padding-bottom: 3px;
  font-weight: bolder;
  color: #fff200;
}

.header-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tab {
  margin: 0px;
  text-decoration: none;
  color: white;
  padding: 3px;
  font-size: 12px;
}

.game-options {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-div {
  display: flex;
}

.timer-jpg {
  width: 35px;
}

.game-timer {
  margin: 5px;
}

.reset-button {
  padding: 10px;
  border-radius: 10px;
  background-color: #be1e2d;
  color: white;
}

.game-over-img {
  width: 200px;
}

.spacing {
  margin: 10px;
}

.board {
  height: 100%;
  padding-top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: url(assets/dynamic-duo-bg-01.png);
  background-size: 100%;
}

.flipped {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}

.flip-card {
  background-color: none;
  border-radius: 10px;
  width: 100px;
  height: 150px;
  perspective: 1000px;
  margin: 10px;
  /* border: 10px solid white; */
  /* box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5); */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  transform: rotateY(180deg);
}

/* Style the back side */
.flip-card-back {
  color: white;
}

@media only screen and (min-width: 760px) {
  .flip-card {
    /* padding: 10px; */
    width: 175px;
    height: 225px;
  }
  .game-name {
    width: 250px;
  }
  .image {
    border: 10px solid white;
  }
  .tab {
    padding: 10px;
    margin: 10px;
    font-size: 20px;
  }
  .header-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .theme-paragraph {
    font-size: 20px;
    padding-bottom: 0px;
  }
  .game-over-img {
    width: 650px;
  }
  .reset-button {
    width: 100px;
  }
}
